.container {
  background-color: #DAE3E0;
  width: 100%;
  margin: 0;
}

header {
  background-image: url(https://i11.servimg.com/u/f11/13/27/80/65/logorb10.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  width:100%;
}

header h1 {
  color: #00081C;
}


h2,
h3, {
  color: #00081C;
}

img {
  width: 150px;
}
a,
a:visited
 {
  text-decoration: none;
  color: #123069;
}

a:hover,
a:focus {
  color: #FFA314;
}

footer {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

footer div {
  background-color: #00081C;
  text-align: center;
}
