.container {
  background-color: #DAE3E0;
}

header {
  background-image: url(https://i11.servimg.com/u/f11/13/27/80/65/logorb10.png);
}

h1,
h2,
h3, {
  color: #00081C;
}

.mini img {
  width: 5em;
}
